body {
	background-color: var(--cool-dark);
	color: var(--base-txt-color);
	font-size: 72px;
	line-height: var(--lg-line-height);
	letter-spacing: -2px;
	font-family: "Forum";
	text-transform: uppercase;
	padding: 12px 24px;
	overflow: hidden;
}

.App {
	display: grid;
	grid-template-columns: 3.7fr 1fr;
	gap: 50px;

	max-width: 1660px;
	margin: 0 auto;
}

.TaskBar {
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #414141;
	padding-bottom: 8px;
}

.TaskBar__input,
form {
	width: 100%;
	margin-right: 16px;
}

.Item__input {
	width: 100%;
}

input {
	border: none;
	background-color: var(--cool-dark);
	height: var(--lg-line-height);
	font-size: 72px;

	letter-spacing: -2px;
	font-family: "Forum";
	text-transform: uppercase;
	color: var(--warm-white);
}

input::placeholder {
	color: var(--base-txt-color);
	opacity: 1;
}

button:hover {
	cursor: pointer;
}

.AddBtn {
	height: 52px;
	min-width: 52px;
	background-color: var(--bright-yellow);
	border: none;
	border-radius: 100%;
}

.AddBtn__svg {
	margin-top: 2px;
}

.AddBtn:hover {
	border: 1px solid var(--bright-yellow);
	background-color: var(--cool-dark);
}

.AddBtn:hover .add-icon {
	fill: var(--bright-yellow);
}

.Filter {
	padding-left: 25px;
	border-left: 1px solid #414141;
	height: 70vh;
}

.Filter__label {
	font-size: 72px;
}

.FilterOptions {
	margin-top: 48px;
	width: 85%;
}

.Option--active {
	opacity: 1;
}

.Option {
	display: flex;
	justify-content: space-between;
}

.Option__label--active {
	opacity: 1;
}

.Option__counter {
	color: var(--bright-yellow);
	display: none;
}

.Option__counter--active {
	opacity: 1;
	display: block;
}

.Actions {
	margin-top: 16px;
}

p {
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: var(--sm-txt-weight);
	letter-spacing: 0.5px;
	line-height: 17px;
	cursor: pointer;
	width: max-content;
}

p:hover {
	color: var(--warm-white);
}

.FilterOptions p.active,
.Actions p.active {
	opacity: 1;
}

.Tracker {
	display: flex;
	margin-top: 32px;
}

.Tracker p {
	cursor: initial;
}

.Tracker__number {
	opacity: 1;
	margin-left: 32px;
	color: var(--bright-yellow);
}

.Todos {
	padding-top: 168px;
	overflow: scroll;
	height: 91.5vh;
}

.Todos-icons {
	display: none;
	width: 86px;
	justify-content: space-between;
	margin-left: 16px;
}

.EditIcon,
.DeleteIcon {
	opacity: 0.25;
}

.EditIcon:hover,
.DeleteIcon:hover {
	opacity: 1;
	cursor: pointer;
}

.Item {
	display: flex;
	justify-content: space-between;
}

.Item:hover .Item__text {
	color: var(--warm-white);
}

.Item:hover .Todos-icons {
	display: flex;
}

.Item__text {
	font-size: 72px;
	line-height: var(--lg-line-height);
	letter-spacing: -2px;
	font-family: "Forum";
	text-transform: uppercase;
	width: max-content;
	line-break: anywhere;
}

.Item__complete {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
}

.FloorFade {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.18));
	position: fixed;
	left: 0;
	bottom: 0;
	height: 150px;
	width: 100vw;
}
