:root {
	--warm-white: #EBD19B;
	--cool-dark: #1a1e1e;
	--warm-gray: #52534e;
	--bright-yellow: #f7b500;

	--lg-txt-opacity: 0.25;
	--sm-txt-opacity: 0.3;
	--sm-txt-weight: 400;
    --lg-line-height: 56px;
}
